In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("covid_19_data.csv")
df = df.drop(["SNo"], axis=1)
df

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...
4930,03/11/20,Mississippi,US,2020-03-10T02:33:04,0,0,0
4931,03/11/20,North Dakota,US,2020-03-10T02:33:04,0,0,0
4932,03/11/20,West Virginia,US,2020-03-10T02:33:04,0,0,0
4933,03/11/20,Wyoming,US,2020-03-10T02:33:04,0,0,0
4934,03/11/20,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0

In [9]:
df.isna().sum()

ObservationDate       0
Province/State     1815
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [ ]:
##listing the countries affected by covid